<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <table border="1">
        <tr>
            <th>Question from:</th>
            <th>User Category</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Action</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{ question.user_username }}</td>
            <td>{{ question.user_type }}</td>
            <td>{{ question.question_text }}</td>
            <td>{{ question.answer_text }}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <textarea name="answer_text" rows="2" cols="30" placeholder="Enter Answer"></textarea><br>
                    <input type="submit" value="Submit Answer">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('admin_dashboard') }}">Back to Home</a>
</body>
</html>