<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver or Rider</title>
</head>
<body>
    <h2>Welcome, {{ username }}</h2>
    <form method="POST" action="{{ url_for('driver_or_rider') }}">
        <input type="hidden" name="role" value="Driver">
        <button type="submit">To be a Driver!</button>
    </form><br>
    <form method="POST" action="{{ url_for('driver_or_rider') }}">
        <input type="hidden" name="role" value="Rider">
        <button type="submit">To be a Rider!</button>
    </form>
</body>
</html>