<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="post">

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form><br>
    
    <!-- Link for Forgot Password -->
    <a href="{{ url_for('register') }}">Create Account</a></p>
    <!-- Link for Forgot Password -->
    <p>Forgot your password? <a href="{{ url_for('forgot_password') }}">Reset it here</a>.</p>
</body>
</html>