<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Ride</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <h2>Book a Ride</h2>
    <div id="map"></div>
    <div id="address"></div>
    <br>
    <form id="rideForm" method="post">
        <label for="origin">Origin:</label><br>
        <input type="text" id="origin" name="origin" value=""><br>
        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date"><br>
        <label for="time">Time:</label><br>
        <input type="time" id="time" name="time"><br>
        <label for="seats_available">Number of Passengers:</label><br>
        <input type="number" id="seats_available" name="seats_available" min="1"><br><br>
        <button type="button" id="submitLocation">Book a Ride</button>
    </form>
    <form action="/passenger" method="post">
        <input type="submit" id="privatemessage" value="Private Message" style="display: none">
    </form>


    <script>
        var map, geocoder, userLocation, socket, marker, origin;
        socket = io();
        var driverAddress;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 20,
                center: {lat: 1.3521, lng: 103.8198} // Default center (e.g., Singapore)
            });
            geocoder = new google.maps.Geocoder();
            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer({
                suppressMarkers: true // Suppress default markers
            })
            directionsRenderer.setMap(map);

            // Get user's geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    userLocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map.setCenter(userLocation); // Set the center of the map to the user's location
                    marker = new google.maps.Marker({
                        position: userLocation,
                        map: map,
                        title: 'You are here',
                        icon: {
                            url: '/static/img/location.png', // Change this to the path of your custom icon
                            scaledSize: new google.maps.Size(30, 30) // Adjust the size as needed
                        }
                    });

                    // Reverse geocoding to get user's address
                    geocoder.geocode({'location': userLocation}, function(results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                var address = results[0].formatted_address;
                                document.getElementById('origin').value = address;
                                document.getElementById('address').innerHTML = 'Your address: ' + address;
                            } else {
                                console.log('No results found');
                            }
                        } else {
                            console.log('Geocoder failed due to: ' + status);
                        }
                    });
                }, function() {
                    // Handle geolocation errors
                    console.log('Error: The Geolocation service failed.');
                });
            } else {
                // Browser doesn't support geolocation
                console.log('Error: Your browser doesn\'t support geolocation.');
            }
        }

        document.getElementById('origin').addEventListener('input', debounce(function() {
            origin = this.value;
            if (!origin) return;  // Do nothing if the input is empty

            geocoder.geocode({'address': origin}, function(results, status) {
                if (status === 'OK') {
                    var location = results[0].geometry.location;
                    document.getElementById('address').innerHTML = 'Your address: ' + origin;
                    map.setCenter(location);
                    if(marker){
                        marker.setMap(null); // Remove the marker from the map
                    }
                    // Place a new marker at the geocoded location
                    marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        title: 'Ride origin',
                        icon: {
                            url: '/static/img/location.png', // Change this to the path of your custom icon
                            scaledSize: new google.maps.Size(30, 30) // Adjust the size as needed
                        }
                    });
                } else {
                    console.error('Geocode was not successful for the following reason:', status);
                }
            });
            }, 500));  // Debounce 500 milliseconds

        // Debounce function to limit how often a function can run
        function debounce(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                var later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };

        document.getElementById('submitLocation').addEventListener('click', function() {
            document.getElementById('rideForm').style.display = 'none';
            var origin = document.getElementById('origin').value;
            var destination = '461 Clementi Rd, Singapore 599491';
            var date = document.getElementById('date').value;
            var time = document.getElementById('time').value;
            var seat = document.getElementById('seats_available').value;
            
            if (origin && userLocation) {
                console.log('Emitting offer_ride event', { origin: origin, destination: destination, date: date, time: time, seat:seat });
                socket.emit('offer_ride', { origin: origin, destination: destination, date: date, time: time, seat:seat });
            }
        });

        socket.on('ride_accepted', function(data) {
            document.getElementById('privatemessage').style.display = 'block';
            console.log("Full data received:", data);
            if(marker){
                marker.setMap(null); // Remove the marker from the map
            }
            if(data.driverLocation) {
                driverAddress = data.driverLocation;
                console.log("Driver Address:", driverAddress);
                var originAddress = document.getElementById('origin').value;
                calculateAndDisplayRoute(driverAddress, originAddress);
            } else {
                console.error("Driver address is undefined in received data:", data);
            }
        });

        function calculateAndDisplayRoute(destination, origin) {
            directionsService.route({
                origin: origin,
                destination: destination,
                travelMode: 'DRIVING'
            }, function(response, status) {
                if (status === 'OK') {
                    directionsRenderer.setDirections(response);
                    var destMarker = new google.maps.Marker({
                        position: response.routes[0].legs[0].end_location,
                        map: map,
                        icon: {
                            url: '/static/img/car-icon.png', // Change this to the path of your custom icon
                            scaledSize: new google.maps.Size(50, 50) // Adjust the size as needed
                        }
                    });
                    var originMarker = new google.maps.Marker({
                        position: response.routes[0].legs[0].start_location,
                        map: map,
                        icon: {
                            url: '/static/img/location.png', // Change this to the path of your custom icon
                            scaledSize: new google.maps.Size(30, 30) // Adjust the size as needed
                        }
                    });
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWGspYJlGaBszG-0PYcN41cCCGPpEnZ5s&callback=initMap" async defer></script>
</body>
</html>