<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Questions</title>
</head>
<body>
    <h1>View Questions</h1>
    <table border="1">
        <tr>
            <th>User Category</th>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{ question.user_type }}</td>
            <td>{{ question.question_text }}</td>
            <td>{{ question.answer_text if question.answer_text else "Not answered yet" }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% if session['role'] == 'Driver' %}
        <p><a href="{{ url_for('driver_dashboard') }}">Go Back to Dashboard</a></p>
    {% elif session['role'] == 'Rider' %}
        <p><a href="{{ url_for('rider_dashboard') }}">Go Back to Dashboard</a></p>
    {% endif %}
</body>
</html>